@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
--main-color: #FF5580;
--text-color: #ffffff;
--bg-color-01: #1f242d;
--bg-color-02: #323946;
--color--00: #0000001a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-02);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* border: solid 1px var(--color-02); */
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-02);
}

.nav a, .nav-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
    /* border: solid 1px var(--color-02); */
}

.nav a:hover, .nav-responsive a:hover {
    color: var(--main-color)
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
    /* border: solid 1px var(--color-02); */
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-img {
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color) 50%) 1;
}

/* (vídeo) .about-img {
    border-right: solid 0.6rem var(--main-color);
    border-bottom: solid 0.6rem var(--main-color);
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color));
} */

.about-img img {
    width: 100%;
}

.about-content {
    width: 45%;
}

.about-content h1 {
    font-weight: 700;
    line-height: 1.3;
}

.about-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.about-content p {
    margin-top: 1.2rem;
    text-align: justify;
}

.techs h2,
.projects h2 { 
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;

}

.techs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.techs-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}


.techs-container .techs-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--bg-color-01);
    background-color: var(--bg-color-02);
    transition: 0.5s ease;
}

.techs-container .techs-box:hover {
    border-color: var(--main-color);
    transform: scale(1.01);
}

.techs-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.techs-box h3 {
    font-size: 1.5rem;
}

.techs-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projects {
 background-color: var(--bg-color-02) ;
}

.projects-container {
    display: grid;
    gap: 1.2rem;
}

.projects-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

.projects-box img {
    width: 100%;
    transition: 0.5s ease;

}

.projects-box img:hover {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, var(--main-color));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem); /* aq q tava o erro */ 
    transition: 0.5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}

.projects-layer h4 {
    font-size: 1.8rem;
}

.projects-layer p {
    margin: 0.2 rem 0 0.5rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projects-layer a i {
    font-size: 1.2 rem;
    color: var(--bg-color-02);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);

}

.social-media img {
    width: 3.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: solid 0.15rem var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 1.8rem 0.5rem;
    transition: 0.5s ease;

}
.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 0.7rem 1.8rem;
    background-color: var(--main-color);
    border-radius: 2rem;
    color: var(--bg-color-02);
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

/* menu hamburguer */
.menu-hamburguer {
    /* display: none; */
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--text-color);
    margin: 0.4rem 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}
/* /menu hamburguer */

/* media queries */
@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }

}
    .nav {
        display: none;
     }

     .nav-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
     }

     section {
        padding: 6rem 2.5rem;
     }

     .about {
        flex-direction: column;
        gap: 1.2rem;
     }

     .about-img {
        width: 80%;
        max-width: 80%;

     }

     .about-content {
        width: 100%;
     }

     .about-content div {
        text-align: center;
     }

     .about-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
     }

     .techs-container {
        flex-direction: column;
        align-items: center;
     }

     .projects-box {
        width: 100%;
     }

/* celular */
@media (min-width: 576px) {
    .about-img {
        width: 65%;
        max-width: 65%;
    }
}

    .projects-box {
        width: 100%;
    }

/* /celular */

/* tablet */
@media (min-width: 768px) {

    .menu-hamburguer {
        display: none;
    }

    .nav {
        display: block;

    }

    .nav-responsive, .nav-responsive a {
        display: none;
    }

    .about {
        flex-direction: row;
        justify-content: space-evenly;
     }

     .about-img {
        max-width: 35%;

     }

     .about-content {
        width: 50%;
     }

     .techs-box {
        width: 30%;
        margin-bottom: 2rem
     }

     .projects-container {
        grid-template-columns: auto auto;
     }
    }
/* /tablet */

/* notebook */
@media (min-width: 992px) {

    .about-img {
        max-width: 35%;
    }

    .techs-container { 
        flex-direction: row;
        gap: 1.2rem;
    }
}
/* /notebook */
/* computador */
@media (min-width: 1200px) {

    .about-img {
        max-width: 25%;
    }

    .about-content h1 {
        font-size: 2.7rem;
    }

    .about-content h3 {
        font-size: 2rem;
    }

    .projects-container {
        grid-template-columns: auto auto auto;
    }
}
/* /computador */
/* /media queries */